
.sign-in-btn{
    padding: 0.5rem 7rem !important; 
}
.form-error{
    color: red;
}
.from-top{
    padding-top: 100px;
}
.btn-width{
    width: auto;
}
.btn-padding{
    padding-left: 36px;
    padding-right: 36px;
}