<div class="container from-top">


  <div class="form-group row justify-content-center">

    <label class="col-12 col-sm-4 col-md-4 col-lg-2 col-form-label ctms-form-label">Name :</label>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <label>{{userData.Name}}</label>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-12 col-sm-4 col-md-4 col-lg-2 col-form-label ctms-form-label">Email Id :</label>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <label>{{userData.EmailId}}</label>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-12 col-sm-4 col-md-4 col-lg-2 col-form-label ctms-form-label">Bio :</label>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <label>{{userData.Bio}}</label>
    </div>
  </div>

</div>